<div  class="d-flex justify-content-end mt-3 mr-3">
  <button *ngIf="!isLoggedIn" mat-button routerLink="/">Login</button>


<button *ngIf="isLoggedIn" mat-button routerLink="/dashboard" >Dashboard</button>
<button *ngIf="isLoggedIn" mat-button routerLink="/transaction" >Transaction</button>

<button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="afterMenu">
    <mat-icon>person</mat-icon></button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item routerLink="/abc" >Add New Contribution Plan</button>
  <button *ngIf="isLoggedIn" (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>



</div>