.example-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 300px;
  width: 90%;
  height: 70vh;
  border-radius: 2%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner > * {
  width: 60%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

#login {
  background-color: #d1d1d1;
}