<h1 mat-dialog-title>Add New User</h1>
<div id="addUserForm" mat-dialog-content>
    <mat-form-field>
        <input
        #fullName
        matInput
        placeholder="Full Name"
        [type]="text"
        >
      </mat-form-field>

      <mat-form-field>
        <input
        #password
        matInput
        placeholder="Team"
        [type]="text"
        >
      </mat-form-field>

      <mat-form-field>
          <input
          #level
          matInput
          placeholder="Level"
          [type]="text"
          >
        </mat-form-field>

        <mat-form-field>
            <input
            #account_number
            matInput
            placeholder="Account Number"
            [type]="number"
            >
          </mat-form-field>

        <mat-form-field>
            <input
            #phoneNumber
            matInput
            placeholder="Phone Number"
            [type]="text"
            >
          </mat-form-field>

          <mat-form-field>
              <input
              #email
              matInput
              placeholder="Email Address"
              [type]="email"
              >
            </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="" mat-raised-button (click)="submit()">Submit</button>
  <button class="text-danger" mat-button (click)="close()">Close</button>
</div>
