<h1 mat-dialog-title>Add New User</h1>
<div id="addUserForm" mat-dialog-content>
    <mat-form-field>
        <input
        #fullName
        matInput
        placeholder="Full Name"
        [type]="text"
        >
      </mat-form-field>


      <mat-form-field>
        <input
        #password
        matInput
        placeholder="Team"
        [type]="text"
        >
      </mat-form-field>

      <mat-form-field>
          <input
          #password
          matInput
          placeholder="Email Address"
          [type]="text"
          >
        </mat-form-field>

        <mat-form-field>
            <input
            #password
            matInput
            placeholder="Phone Number"
            [type]="text"
            >
          </mat-form-field>


</div>
<div mat-dialog-actions>
  <button class="" mat-raised-button (click)="onNoClick()">Submit</button>
  <button class="text-danger" mat-button (click)="onNoClick()">Close</button>
</div>
